<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Card</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>

  <article class="card">
    <div class="card-body">
      <p class="date">March 20 2015</p>
      <h2>Card component</h2>
      <p class="body-content">This is a card component created with HTML and CSS.</p>
      <a class="button button-primary" href='#' target='_blank' rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i> Find out more
      </a>
    </div>
  </article>

  <br />

  <article class="card">
    <div class="card-body">
      <p class="date">March 20 2015</p>
      <h2>Card component</h2>
      <p class="body-content">This is a card component created with HTML and CSS.</p>
      <a class="button button-primary" href='#' target='_blank' rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i> Find out more
      </a>
    </div>
  </article>

  <script src="https://kit.fontawesome.com/088e10ee00.js" crossorigin="anonymous"></script>

</body>
</html>